/* DICA DE GRANDES EMPRESAS E PROJETOS
    -COMO COLOCAR DO JEITO CERTO
    CSS - * tudo



    seletor /  p, button, h3, div...
    propiedade / color, height, width...
    valor / red, 16px ...

    pixel(px) - unidade de medida

    classes - apelidos para diferenciar os      elemento sempre que vai na TAG DE ABERTURA
    (SEMPRE que for usar uma classe, usar ponto(.) ex: .teste {"seu código"} */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/mapa.jpg");
    background-size: cover ;/* TAMANHO DO FUNDO*/
    background-position: center;
    height: 100vh; /* altura */ /*vh = view hight*/

    display: flex;
    /* display: mostrar /flex: flexivel */
    align-items: center;
    /*alinhar itens*/
    justify-content: center;
    /* justificar(alinhar) o conteudo */
}

.caixa-maior {
    background-color: #000000f2;
    width: 450px; /* largura */
    border-radius: 25px; /*arredondar a borda */
    padding: 20px; /* espaçamento interno */
}

.input-texto{
    width: 100%;
    height: 100px;
    border: none; /* borda / none = nada, nenhuma */
    outline: none; /* borda quando eu clico nele */
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff; /* cor do texto */
    font-size: 16px; /*tamanho da fonte */
    padding: 15px;
}

.idioma {
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;
}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}


.controle {
    display: flex;
    align-items: center;
    gap: 10px; /*espaçamento entre os elementos */
    margin-top: 20px; /*margem em cima */
    margin-bottom: 20px; /* margem em baixo */
}

.resultado {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

.titulo-traducao{
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}
.traducao{
    color:#ffffff;
    font-size: 18px;
}
